.taskTable { 
    border-collapse: collapse; 
    border: 5px solid; 
    border-color: black;
    background-color: ;
    text-align: center;
   }

   .complete {
       background-color: green;
   }

   .incomplete {
    background-color: red;
}

#mainBody {
    background-color: darkgrey;
}

#table {
    background-color: lightgreen;
    border-color: black;
}

#tableHead {
    background-color: lightgrey;
}